.signup {
    padding: 20px 0;

    .header {
        color: rgba(255, 255, 255, 0.8);
        font-size: 18px;
        font-weight: 800;
    }

    .content {
        margin-top: 15px;

        .ant-card {
            background-color: #141414;
            border: none;

            .ant-form label {
                color: rgba(255, 255, 255, 0.8);
            }

            hr {
                margin: 20px 0;
                border: 1px solid var(--primary-color);
            }
        }

        .banner-img {
            border-radius: 6px;
            overflow: hidden;

            img {
                width: 100%;
                max-height: 500px;
            }
        }

        .description {
            color: rgba(255, 255, 255, 0.8);
            font-weight: 700;
        }
    
        .signup {
            color: gold !important;
            border: 2px solid gold !important;
            background-color: transparent !important;
        }

        .signup:hover {
            background-color: gold !important;
            color: white !important;
          }
    }
}
