:root {
  --primary-color: #ddd;
  --secondary-color: #ddd;
  --background-color: #ddd;
  --text-color: #ddd;
  --header-color: #ddd;
  --footer-color: #ddd;
}

[data-theme="dark"] {
  --primary-color: #ddd;
  --secondary-color: #ddd;
  --background-color: #ddd;
  --text-color: #ddd;
  --header-color: #ddd;
  --footer-color: #ddd;
}
