.h-marquee-container {
    position: relative;
    width: 100%;

    .h-marquee-img {
        width: 100%;
        height: 100%;
    }
    .h-marquee-text {
        width:92%;
        color: gold;
        position: absolute;
        top: 50%;
        left: 53.5%;
        transform: translate(-50%, -50%);   
    }
}