.language-modal {
    .ant-modal-content {
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        overflow: hidden;

        .ant-modal-body {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .item {
                display: flex;
                justify-content: center;
                padding: 10px 0;
                color: rgba(255, 255, 255, 0.8);
                border: 3px solid var(--primary-color);
                border-radius: 8px;
                font-weight: 700;
                cursor: pointer;
                transition: 0.5s;

                :is(&:hover, &.true) {
                    background-color: var(--primary-color);
                    border-color: var(--primary-color);
                    box-shadow: 0 1px 8px 1px var(--secondary-color);
                }
            }
        }
    }
}
